.prices-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prices-list-and-buttons{
    max-width: 1600px;
}
.add-buttons-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.add-buttons-group button{
    border-radius: 0 !important;
}
.prices-lists{
    transition: all 3s linear;
}