.prices-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prices-list-and-buttons{
    width: 70%;
}
.add-buttons-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.add-buttons-group button{
    border-radius: 0 !important;
}
.prices-lists{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.price-list-signs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 5px solid steelblue;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
.price-list-signs .sign-bar{
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: steelblue;
}
.price-list-signs .sign-bar:nth-child(2){
    transform: rotate(90deg);
}
.price-group{
    width: 100%;
}
@media screen and (max-width:830px) {
    .prices-list-and-buttons{
        width: 95%;
    }
}