.text-and-image{
    display: flex;
    justify-content: center;
}
.text-box{
    padding: 150px;
}
.text-box p {
    margin-top: 30px;
}

.about_me_photo{
    max-width: 80%;
    height: auto;
    border-radius: 30%;
}

@media only screen and (max-width: 1400px){
    .about_me_photo{
        max-width: 100%;
    }
}
@media only screen and (max-width: 991px){
    .col-md-6{
        margin-top: auto !important;
    }
}