.prices-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
}
.price-item{
    padding: 20px;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1060px;
}
.price-title-and-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.prices-list{
    transition: all 3s linear;
}
.add-buttons-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.add-buttons-group button{
    border-radius: 0 !important;
}