.contact-page{
    display: flex;
    flex-direction: row;
}
.map{
    flex:1;
}
.contact-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.contact{
    width: 500px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 2px 13px 0px rgba(0,0,0,0.58);
}
.contact-inf-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.adress{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
    text-align: center;
}
.contact-title{
    text-align: center;
}
.contact-link-with-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-form-container{
    width: 100%;
    margin: 0 auto;
}
.contact-form-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form-container form input[type=text], .contact-form-container form textarea{
    border: 1px solid black;
    padding: 10px 10px;
}
.contact-form-container form input[type=submit]{
    background-color: transparent;
    font-size: 20px;
}
.contact-form-container form textarea{
    height: 200px;
}
.contact-social-icon{
    font-size: 40px;
    margin-right: 20px;
}
@media only screen and (max-width: 970px){
    .contact-page{
        flex-direction: column;
    }
}
@media only screen and (max-width: 530px){
    .contact-form-container{
        width: 90%;
    }
    .contact{
        width: 95%;
    }
}
