.contact-page{
    display: flex;
    flex-direction: row;
}
.map{
    flex:1;
}
.contact-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.contact{
    background-color: white;
    width: 500px;
    margin: 10px;
    padding: 10px;
}
.contact-inf-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff5ef;
}
.adress{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}
.contact-title{
    text-align: center;
    background-color: #fdd154;
    border-radius: 10px 10px 0 0;
}
.contact-link-with-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-form-container{
    width: 100%;
    margin: 0 auto;
    background-color: #fff5ef;
    padding: 10px;
}
.contact-form-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-form-container form input[type=text], .contact-form-container form textarea{
    border: 1px solid black;
    padding: 10px 10px;
}
.contact-form-container form input[type=submit]{
    background-color: transparent;
    font-size: 20px;
}
.contact-form-container form textarea{
    height: 200px;
}
.contact-social-icon{
    font-size: 40px;
    margin-right: 20px;
}
.text-center{
    margin: 0;
    font-family: 'League Gothic', sans-serif;
    font-size: 3.5rem;
}
@media only screen and (max-width: 970px){
    .contact-page{
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 530px){
    .contact-form-container{
        width: 90%;
    }
    .contact{
        width: 95%;
    }
}
