.small-prise-list-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.small-info-box{
    background-color: #fff5ef;
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 15px;
    transition: 0.7s;
}
.small-info-box ul {
    margin: 0;
    padding: 0;
}
.small-info-box ul li{
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-bottom: 3px solid #fdd154;
}
.small-info-box ul li p, .small-info-box ul li h4{
    flex:1  
}
.small-price-quantity{
    text-align: center;
}
.small-price-price{
    text-align: right;
    font-weight: bold
}
.add-small-price{
    height: 400px;
}
.price-item{
    padding: 3px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.price-title-and-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fdd154;
    border-radius: 10px 10px 0 0;
}
.small-price-item-update-pencil{
    color: green;
    margin-left: 15px;
    cursor: pointer;
}