.big-price-form{
    display: flex;
    flex-direction: column;   
}
.big-pricepackages{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
}
.big-price-title-and-btn{
    display: flex;
    flex-direction: column;
    gap: 5px
}
.big-price-delete-specific{
    border: 0 !important;
    background-color: #dc3545;
    cursor: pointer;
    color: #fff;
}

.big-price-delete-specific:hover{
    background-color: #c82333;
}