.small-prise-list-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 15px;
}
.small-info-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex:1;
    box-shadow: 0px 0px 15px rgb(153, 153, 0);
    padding: 15px;
    transition: 0.7s;
}
.small-info-box ul {
    margin: 0;
    padding: 0;
}
.small-info-box ul li{
    display: flex;
    align-items: center;

}
.small-info-box ul li p, .small-info-box ul li h4{
    flex:1  
}
.small-info-box ul li p:nth-child(2){
    text-align: center;
}
.small-info-box ul li p:nth-child(3){
    text-align: right;
    font-weight: bold
}
.add-small-price{
    height: 400px;
}