
.price-list-signs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
.price-list-signs .sign-bar{
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: black;
}
.price-list-signs .sign-bar:nth-child(2){
    transform: rotate(90deg);
}

@media screen and (max-width:830px) {
    .price-list-signs{
        width: 25px;
        height: 25px;
        border: 2.5px solid steelblue;
    }

    .price-list-signs .sign-bar{
        position: absolute;
        width: 15px;
        height: 2.5px;
        background-color: steelblue;
    }
}