
.price-list-signs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 2px solid steelblue;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
.price-list-signs .sign-bar{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: steelblue;
}
.price-list-signs .sign-bar:nth-child(2){
    transform: rotate(90deg);
}

@media screen and (max-width:830px) {
    .price-list-signs{
        width: 25px;
        height: 25px;
        border: 2.5px solid steelblue;
    }

    .price-list-signs .sign-bar{
        position: absolute;
        width: 15px;
        height: 2.5px;
        background-color: steelblue;
    }
}