.prise-list-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 15px;
}
.info-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex:1;
    box-shadow: 0px 0px 15px rgb(153, 153, 0);
    padding: 15px;
    transition: 0.7s;
}
.info-box p:nth-child(2){
    margin:30px 0;
    cursor: default;
}
.info-box p:nth-child(3){
    font-weight: bold;
    align-self: flex-end;
    margin-top: auto;
}
.info-box:hover{
    transform: scale(1.05);
    z-index: 1;
}

.info-box ul li{
    list-style-type: disc;
}
.one-package{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.big-price-item-update-pencil{
    color: green;
    margin-left: 15px;
    cursor: pointer;
}
.big-price-title-and-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:1700px) {
    .prise-list-container{
        flex-direction: column;
    }
}
